<!--
  Generated template for the LiteraturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle (click)='menuToggle()'>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Literature</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h2 class='title' tappable (click)='doShow1()'>Chats & Catalogs
    <ion-icon *ngIf='!show1' name="ios-arrow-dropright"></ion-icon>
    <ion-icon *ngIf='show1' name="ios-arrow-dropdown"></ion-icon>
  </h2>
  <ion-list *ngIf='show1'>
    <ion-item *ngFor='let item of downloads' tappable (click)='serviceProvider.openUrl(item.acf.file_upload.url)'>
      <ion-thumbnail item-start>
        <img src='{{item.acf.image.url}}'>
      </ion-thumbnail>
      <ion-label>{{item.acf.file_name}}</ion-label>
    </ion-item>
  </ion-list>

  <h2 class='title' tappable (click)='doShow2()'>Sell Sheets
    <ion-icon *ngIf='!show2' name="ios-arrow-dropright"></ion-icon>
    <ion-icon *ngIf='show2' name="ios-arrow-dropdown"></ion-icon>
  </h2>
  <ion-list *ngIf='show2'>
    <ion-item *ngFor='let item of sellSheets' tappable (click)='serviceProvider.openUrl(item.acf.file_upload.url)'>
      <ion-label>{{item.acf.file_name}}</ion-label>
    </ion-item>
  </ion-list>

  <h2 class='title' tappable (click)='doShow3()'>SDS
    <ion-icon *ngIf='!show3' name="ios-arrow-dropright"></ion-icon>
    <ion-icon *ngIf='show3' name="ios-arrow-dropdown"></ion-icon>
  </h2>
  <ion-list *ngIf='show3'>
    <ion-item *ngFor='let item of sds' tappable (click)='serviceProvider.openUrl(item.acf.file_upload.url)'>
      <ion-label>{{item.acf.file_name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>